<!doctype html>
<html lang="en">
   <head>
      <title>ACP Controle Times</title>
      <meta charset="utf-8">
      <!-- 'viewport' is used by bootstrap to respond to device size -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap includes javascript and css  (must follow jquery) -->
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
         integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous">
      <!-- Javascript:  JQuery from a content distribution network (CDN) -->
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
         integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
         crossorigin="anonymous"></script>
      <!-- moment.js is the JavaScript equivalent of arrow.py -->
      <script
      src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
   </head>
   <!-- Our own stylesheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />
   <body>
      <div class="container">
         <h1>ACP Brevet Times</h1>
         <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers.</p>
         <!--
            If there are any warnings or other messages from a prior
            request to the server,
            they appear above the rest of the content, just until the next
            action.  (This is only on request/response transactions that
            result in regenerating the page, not on every request.)
            -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         <!-- Design on bootstrap grid -->
         <form role="form">
            <div class="row">
               <div class="col-md-4">
                  <label>Distance</label>
                  <select name="distance" id="brevet_dist_km">
                     <option value="200">200km</option>
                     <option value="300">300km</option>
                     <option value="400">400km</option>
                     <option value="600">600km</option>
                     <option value="1000">1000km</option>
                  </select>
               </div>
               <!-- columns 1 to 4  -->
               <div class="col-md-6">
                  <label>Begins at</label>
                  <input type="datetime-local" name="begin_date" id="begin_date" />
               </div>
               <!-- columns 5 to 10 -->
            </div>
            <!-- row -->
            <br />  <!-- a little vertical space -->
            <!-- Although we do not use tables for general page layout, they are
               appropriate for something that really is a table, like this
               one.  We allocate it the full 12 columns of the bootstrap grid.
               -->
            <div class="row">
               <div class="col-md-12">
                  <table class="control_time_table">
                     <tr>
                        <th> Miles </th>
                        <th> Km </th>
                        <th>Location</th>
                        <th>Open</th>
                        <th>Close</th>
			<th>Notes</th>
                     </tr>
                     {% for row in range(20) %}
                     <tr class="control">
                        <!-- Dist (mi) -->
                        <td><input name="miles" type="number" step="0.00001"
                           min="0" max="900" /></td>
                        <!-- Dist (km) -->
                        <td><input name="km" type="number" step="0.00001"
                           min="0" max="1100" /> </td>
                        <!-- Location (optional) -->
                        <td><input name="location" type="text"
                           placeholder="Optional location name"
                           size="20" /> </td>
                        <!-- Open time (read only, set by JavaScript function -->
                        <td><input name="open" type="datetime-local" readonly value="" /></td>
                        <!-- Close time (read only, set by JavaScript function -->
                        <td><input name="close" type="datetime-local" readonly value="" /></td>
                        <!-- Notes (error messages for this row) -->
                        <td class="notes"> &nbsp; </td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
               <!-- col -->
            </div>
            <!-- row -->
         </form>
	<div class="row">
		<button id="submit"> Submit </button>
		<button id="display"> Display </button>
	</div>
         <script type="text/javascript">
            var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
            var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
	    var SUBMIT_URL = SCRIPT_ROOT + "/_submit";
	    var DISPLAY_URL = SCRIPT_ROOT + "/_display";


            function calc_times(control) {
              var km = control.find("input[name='km']").val();
              var open_time_field = control.find("input[name='open']");
              var close_time_field = control.find("input[name='close']");
	     
	      // Added variable to grab start time and brevet distance
	      var start_time = $('#begin_date').val();
	      var brevet_dist_km = $('#brevet_dist_km').val();
	    
		
              $.getJSON(TIME_CALC_URL, {km: km, start_time: start_time, brevet_dist_km: brevet_dist_km}).done(
                function(data) {
                   var times = data.result;
                   console.log("Got a response: ");
                   console.log("Response.open = " + times.open);
                   // This part will automatically fill the open and close slots,
                   // so don't worry about those.

                   open_time_field.val(moment(times.open).format("YYYY-MM-DDTHH:mm"));
                   close_time_field.val(moment(times.close).format("YYYY-MM-DDTHH:mm"));
                 }
               ).fail(function(err){
                 // In case you get an error...
                 console.log("Error!");
                 console.log(err);
               });
            }

            $(document).ready(function(){
             // Do the following when the page is finished loading

                $('input[name="miles"]').change(
                   function() {
                       var miles = parseFloat($(this).val());
                       var km = (1.609344 * miles).toFixed(6) ;
                       console.log("Converted " + miles + " miles to " + km + " kilometers");
                       var control_entry = $(this).parents(".control")
                       var target = control_entry.find("input[name='km']");
                       target.val( km );
                       // Then calculate times for this entry
                       calc_times(control_entry);
                    });

                $('input[name="km"]').change(
                   function() {
                       var km = parseFloat($(this).val());
                       var miles = (0.621371 * km).toFixed(6) ;
                       console.log("Converted " + km + " km to " + miles + " miles");
                       var control_entry = $(this).parents(".control")
                       var target = control_entry.find("input[name='miles']");
                       target.val( miles );
                       // Then calculate times for this entry
                       calc_times(control_entry);
                    });

            
	  
	 $('#submit').click(
		function(event) {
			event.preventDefault();

				// Empty list that will be updated with users control distance inputs
				var rows = [];
				
				// Getting the start time and distance of brevet
				var begin_time = $('#begin_date').val();
				var brevet_dist = $('#brevet_dist_km').val();
				
				// Clearing/Resetting stert time and brevet distance
				$('#begin_date').val('');
				$('#brevet_dist_km').val('200');

				// Running through each row within table; rows hold the control points
				$(".control").each(function() {
					// Defining row object
					var control_row = $(this);
					
					// getting variables from selected row
					var miles = control_row.find("input[name='miles']").val();
					var km = control_row.find("input[name='km']").val();
					var locale = control_row.find("input[name='location']").val();
					var open = control_row.find("input[name='open']").val();
					var close = control_row.find("input[name='close']").val();

					// if row is not empty, add to the list
					if (km) {
						row_json = {
							"miles": miles,
							"km": km,
							"locale": locale,
							"open": open,
							"close": close
						}
						rows.push(row_json);
					} // end of if(km)

					// Now clearing inputs from selected row
					control_row.find("input[name='miles']").val('');
					control_row.find("input[name='km']").val('');
					control_row.find("input[name='location']").val('');
					control_row.find("input[name='open']").val('');
					control_row.find("input[name='close']").val('');

				}); // end of $(".control").each
				
				// Error checking; if any conditions are true, var 'failed' changes to true and
				// stops database insertion
				var failed = false
				if (rows.length == 0) {
					alert('No Controls inputted!');
					failed = true
				}

				// Create the data to send to flask
				var controls = {
					"begin_time": begin_time,
					"brevet_dist": brevet_dist,
					"rows": rows
				};
				// Here we have all of the information the user inputted
				// We can now send a POST request so that it can be stored
				// in the database
				if (!failed) {
					$.ajax({
						// expect json responses from backend
						dataType: 'json',
						// Specify we are sending JSON
						contentType: "application/json",
						// Request method: POST
						type: 'POST',
						// URL
						url: SUBMIT_URL,
						// Converting our data into a string
						data: JSON.stringify(controls),
						// On a successful response from flask
						success: function(data) {
						// Check the status code given by flask
							if (data.status == 1) {
								console.log("Succesfully inserted! Response: ", data);
							}
							else {
								console.log("Insertion Failed: ", data);
							}
					 	}, // end of success: function (data)
						error: function(err) {
							console.log("Error: ", err);
						}
					}); // end of $.ajax
				}

		}); // end of submit.click - function(event)

		$('#display').click(
			function(event) {
				event.preventDefault();

				$.getJSON(DISPLAY_URL).done(
					function(data) {
						console.log(data);
						if (data.status == 1) {
							console.log("Successfully fetched: ", data);
							var begin_time = $('#begin_date').val(data.result.begin_time);
							var brevet_dist = $('#brevet_dist_km').val(data.result.brevet_dist);
							var controls = data.result.rows;

							var num_controls = controls.length;

							$(".control").each( function(index) {
								var row = $(this); // This is one row of control
								// clearing existing values
								row.find("input[name='miles']").val('');
								row.find("input[name='km']").val('');
								row.find("input[name='location']").val('');
								row.find("input[name='open']").val('');
								row.find("input[name='close']").val('');

								if (index < num_controls) {
									row.find("input[name='miles']").val(data.result.rows[index].miles);
									row.find("input[name='km']").val(data.result.rows[index].km);
									row.find("input[name='location']").val(data.result.rows[index].locale);
									row.find("input[name='open']").val(data.result.rows[index].open);
		 							row.find("input[name='close']").val(data.result.rows[index].open);

								}
			
							 }); // End of control.each
		 					
						}
						else {
							console.log("Fetch failed: ", data);
		 				}
							 
				} // end of function(event)
				).fail(function(err) {
					console.log("Error: ", err);	
				  });
		 }); // End of display.click

	}); // end of $(document).ready
	
         </script>
      </div>
   </body>
</html>
